/*Header bg color #D6CCC2
Navbar bg color #D5BDAF
Body bg color #EDEDE9
Input/feedback bg color #E3D5CA
Font color #292833
Header font: Cherry bomb
Body font:Actor
Header font:Cherry Bomb one*/
*{
    margin: 0px;
    padding: 0px;
}
.header{
font-family: 'Cherry Bomb One', cursive;
font-size: 30px;
text-align: center;
background-color:#d6ccc2;
padding-top:20px;
width: 100%;
height: 150px;
display: flex;
justify-content: center;


}
h1{
    font-family: 'Cherry Bomb One', cursive;
}
#logof{
    height: 120px;
    width: 120px;
    object-fit: contain;
    /* float: left; */
}
#logom{
    height: 120px;
    width: 120px;
    object-fit: contain;
    /* float: right; */
}
.navbar{
    background-color: #d5bdaf;
    height: 44px;
    font-family: 'Actor', sans-serif;
    font-size: 26px;
    margin-top: 0px;
    width: 100%;
    text-align: center;

}
body{
    background-color: #edede9;
    color:#292833;
    font-family: 'Actor', sans-serif;
    font-size: 26px;
    margin: 0px;
    padding: 0px;
}
ul{
    list-style-type: none;
   padding-top: 6px;
 
}
li{
    display: inline;
    padding: 40px;
    
}
a:visited{
color: #292833;
text-decoration: none;
}
a:link{
    color: #292833;
    text-decoration: none;
}
a:active{
    color:#292833;
    text-decoration: none;
}

.booking{
padding: 33px 100px;
display: flex;
justify-content: space-between;
margin: 50px 150px;
font-family: 'Actor', sans-serif;

}

input{
    background-color: #E3D5CA;
    height: 40px;
    border: 0px;
    border-radius: 18px;
    padding-left:20px;
    font-family: 'Actor', sans-serif;
}
.booking-form{
    font-size: 20px;

}
#paint, #clay, #wood{
    height: 20px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 2px 2px 2px 2px;
}
.field{
    width: 400px;
}
.amount{
    height: 40px;
    width: 100px;
}
#comment{
    height: 250px;
    width: 400px;
    padding: 10px;
    background-color: #E3D5CA;
    border: 0px;
    border-radius: 18px;
    padding-left:20px;
    resize: none;
    font-family: 'Actor', sans-serif;
}
#submit{
    padding: 2px;
    height: 40px;
    width: 100px;
    margin-left: 400px;

}
